
<script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        var day = today.getDate();
        var month = today.getMonth();
        var year = today.getFullYear();
        
        h = checkTime(h);
        m = checkTime(m);
        s = checkTime(s);
        
        document.getElementById('footer').innerHTML = © h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    
    function checkTime(i) {
        if (i < 10) {
            i = "0" + i
        };
        return i;
    }
</script>

<div class="footer">
    <p> © 2019 Thao-Ly Ngo </p>
    <div id="footer"></div>
</div>