* {
    box-sizing: border-box;
}

html {
    background-color: whitesmoke;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: black; 
}


/* FONT */
@font-face {
    font-family: "Signerica Medium";
    src: url(/assets/fonts/Signerica_Medium.ttf);
}

@font-face {
    font-family: "Futura";
    src: url(/assets/fonts/Futura.ttc);
}


/* COLUMNS & ROWS */
[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}


/* LOGO */
.logo h1 {
    font-family: "Helvetica";
    font-size: 33px;
    font-weight: bold;
    position: fixed;
    color: black;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        blink-caret .8s step-end infinite;
}

.logo a {
    text-decoration: none;
    color: black;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

.hamburger {
    display: none;
}


.intro p {
    font-family: "Helvetica";
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding: 150px;

}

/* RESPONSIVE SETTINGS */

@media only screen and (max-width: 700px) {
    .column {
        width: 100%;
    }
    
    .navigation ul {
        display: none;
    }
    
    .hamburger {
        top: 5;
        right: 0;
        display: block;
        position: fixed;
        color: black;
        font-size: 30px;
        padding-top: 18px;
        padding-right: 20px;
    }
    
    .hamburger:hover {
        color: gainsboro;
    }
    
    .intro p {
        font-size: 20px;
        padding: 110px;
    }
}

@media only screen and (max-width: 500px) {
    .intro p {
        font-size: 15px;
        padding: 50px;
    }
}

/* NAVIGATION BAR */
.navigation ul {
    list-style: none;
    margin: 0;
    top: 5;
    right: 0;
    position: fixed;
    padding-top: 7px;
    padding-right: 10px;
}

.navigation li {
    display: inline;
}

.navigation a {
    font-family: "Helvetica";
    color: gainsboro;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    padding: 13px;
}

.navigation a:hover {
    color: black;
}


/* HAMBURGER NAVIGATION */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay a {
    color: gainsboro;
    text-decoration: none;
}

.overlay a:hover, .overlay a:focus {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    font-family: "Helvetica Neue";
    font-weight: bold;
    color: gainsboro;
    font-size: 30px;
    font-weight: 500;
}




@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
  }
}

/* INSTAGRAM */
.instalogo {
    padding-top: 30px;
}

.instalogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.instafeed {
    padding: 80px;

}

/* ENTRIES PAGE */
.entries {
    padding-top: 150px;
}

.cover {
    display: inline-block;
    position: relative;
    padding: 30px;
}

.cover img {
    width: 100%;
    height: auto;
}

.cover-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(245,245,245,0.2);
}

.cover:hover .cover-overlay {
    opacity: 1;
}

.text {
    color: black;
    font-size: 30px;
    font-family: "Helvetica Neue";
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* CONTACT FOOTER */
.contact {
    text-align: center;
    
}
.contact a {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: line-through;
}

/* FOOTER */
.footer {
    font-family: "Helvetica Neue";
    font-size: 13px;
    font-weight: 300;
    color: black;
    text-align: center;
    padding: 30px;
}