* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



html {
    background-color: #faf7f7;
}




/*
#about-page {
    background-image: url(/assets/images/lynn_animoji.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto;
}
*/
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: black; 
}


/* FONT */
@font-face {
    font-family: "Helvetica";
    src: url(/assets/fonts/Helvetica.ttc);
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(/assets/fonts/HelveticaNeue.ttc);
}

@font-face {
    font-family: "Folio Medium";
    src: url(/assets/fonts/Folio_Medium.otf);
}

@font-face {
    font-family: "Folio Light";
    src: url(/assets/fonts/Folio_Light.otf);
}





/* COLUMNS & ROWS */
[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}







/* LOGO */
.logo h1 {
    font-family: "Helvetica";
    font-size: 32px;
    font-weight: bold;
    /*position: fixed;*/
    color: black;
    overflow: hidden;
    z-index: 10;
    white-space: nowrap;
    margin: 0 auto;

}

.logo a {
    text-decoration: none;
    color: black;
}



.hamburger {
    display: none;
}


.intro p {
    font-family: "Helvetica";
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    line-height: 1;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 250px;
    padding-bottom: 80px;
    line-height: 1.1;
    
}







/* NAVIGATION BAR */
#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    transition: top 0.5s;
    z-index: 99999;
}

.navigation ul {
    list-style: none;
    margin: 0;
    top: 5;
    right: 0;
    float: right;
    /*position: fixed;*/
    padding-top: 7px;
    transition: top 0.3s;
    z-index: 10;
}

.navigation li {
    display: inline;
}

.navigation a {
    font-family: "Helvetica";
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    padding-top: 18px;
    padding-left: 13px;
    padding-right: 13px;
}










/* HAMBURGER NAVIGATION */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay a {
    color: gainsboro;
    text-decoration: none;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
}

.overlay-content {
    position: relative;
    top: 40%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    font-family: "Folio Medium";
    font-weight: bold;
    color: gainsboro;
    font-size: 25px;
    font-weight: 500;
}


@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
  }
}






/* INSTAGRAM */
.instalogo {
    padding-top: 30px;
}

.instalogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.instafeed {
    padding: 130px;

}





/* ENTRIES SECTION */
.stagger-left-col {
    width: 50%;
    float: left;

}

.stagger-right-col {
    width: 50%;
    float: left;
    padding-top: 100px;
}

.entries {
    padding-bottom: 100px;
    padding-left: 23px;
}

.cover {
    position: relative;
    text-align: center;
}

.cover img {
    width: 70%;
    margin: auto;
    display: inline;
}

.cover a {
    text-decoration: none;
}

.stagger-left-col p {
    font-family: "Folio Medium";
    font-size: 25px;
    color: black;
    writing-mode: vertical-lr;
    position: absolute;
    left: 22px;
    top: 0;
    padding-top: 25px;
}

.stagger-right-col p {
    font-family: "Folio Medium";
    font-size: 25px;
    color: black;
    writing-mode: vertical-lr;
    position: absolute;
    left: 22px;
    top: 0;
    padding-top: 120px;
}







/* CONTACT FOOTER */
#contact {
    text-align: center;
    padding-right: 75px;
    padding-top: 150px;
    
}


.contact-title a {
    text-decoration: none;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 20px;
    color: black;
}







/* FOOTER */
.footer {
    font-family: "Helvetica";
    font-size: 15px;
    font-weight: medium;
    color: black;
    text-align: center;

}


/* FIXED BANNER */
.banner {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.banner p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Helvetica";
    font-size: 15px;
    color: white;
    
}






/* CSS FOR ENTRY PAGE*/
.post-title {
    text-align: center;
    font-family: "Folio Medium";
    padding-top: 50px;
    font-size: 30px;
    color: black;
}

.post-content-left p {
    font-family: "Folio Light";
    font-size: 20px;
    text-align: left;
    padding-left: 100px;
}

.post-content-right p {
    font-family: "Folio Light";
    font-size: 20px;
    text-align: left;
    padding-right: 100px;
}

.post-content p {
    font-family: "Folio Light";
    font-size: 20px;
    text-align: left;
    padding-left: 100px;
    padding-bottom: 100px;
}

.image-caption {
    font-family: "Folio Light";
    font-size: 13px;
}







/* CSS FOR CONTACT PAGE */
.contact-intro {
    text-align: center;
    padding-top: 70px;
    padding-left: 200px;
    padding-right: 200px;
}

.contact-intro p {
    font-family: "Helvetica";
    font-size: 17px;
    padding-top: 50px;
    line-height: 1.5;
    
}

.contact-form {
    max-width: 420px;
    margin: 50px auto;
    
}

.contact-input {
    color: black;
    font-family: "Helvetica";
    font-size: 15px;
    line-height: 20px;
    background-color: transparent;
    border: 2px solid black;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: "Helvetica";
    width: 50%;
    background: transparent;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 17px;
    padding-top: 13px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: 0px;
    text-align: center;
}


[type="submit"]:hover {
    background: black;
    color: whitesmoke;
}

.send-button {
    text-align: center;
}








/* ANIMATE ON-LOAD */

/*
.intro, .cover, .post-title, .post-image, .image-caption, .post-content-left, .post-content-right, .post-content {
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
                        -moz-animation: reveal 1s ease-in 1 normal forwards;
        -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
            animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-zero {
  -webkit-animation-delay: 500ms;
     -moz-animation-delay: 500ms;
       -o-animation-delay: 500ms;
          animation-delay: 500ms;
}

.animate-first {
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1s;
}

.animate-second {
  -webkit-animation-delay: 2s;
     -moz-animation-delay: 2s;
       -o-animation-delay: 2s;
          animation-delay: 2s;
}

.animate-third {
  -webkit-animation-delay: 3s;
     -moz-animation-delay: 3s;
       -o-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}
*/







/* RESPONSIVE SETTINGS */


@media only screen and (max-width: 1200px) {
    .contact-intro {
        padding-left: 150px;
        padding-right: 150px;
    }
    .intro p {
        font-size: 28px;
        padding-left: 130px;
        padding-right: 130px;
            
    }
    .stagger-left-col {
        width: 100%;
        height: 50%;
    }
    
    .stagger-right-col {
        width: 100%;
        height: 50%;
    }
    
    .stagger-right-col p {
        left: 140px;
    }
    
    .stagger-left-col p {
        left: 140px;
    }
    
    .cover img {
        width: 50%;
    }
    
}


@media only screen and (max-width: 1000px) {
    .intro p {
        font-size: 25px;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .contact-intro {
        padding-left: 70px;
        padding-right: 70px;
    }

    .stagger-right-col p {
        font: 25px;
        left: 110px;
    }
    
    .stagger-left-col p {
        font: 25px;
        left: 110px;
    }
}

@media only screen and (max-width: 900px) {
    .intro p {
        font-size: 25px;
        padding-left: 80px;
        padding-right: 80px;
    }

}

@media only screen and (max-width: 700px) {
    .column {
        width: 100%;
    }

    .contact-intro {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .contact-intro p {
        font-size: 15px;
    }
    
    .intro p {
        font-size: 25px;
        padding-left: 50px;
        padding-right: 50px;

    }
    
    .contact-title a {
        font-size: 17.5px;
    }
    
    .stagger-right-col p {
        font: 20px;
        left: 70px;
    }
    
    .stagger-left-col p {
        font: 20px;
        left: 70px;
    }
    
    .navigation ul {
        display: none;
    }
    
    .hamburger {
        top: 5;
        right: 0;
        display: block;
        position: fixed;
        color: black;
        font-size: 25px;
        padding-top: 18px;
        padding-right: 20px;
    }
}


@media only screen and (max-width: 600px) {
    .intro p {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;

    }
    .stagger-right-col p {
        font-size: 20px;
        left: 50px;
    }
    
    .stagger-left-col p {
        font-size: 20px;
        left: 50px;
    }
    
    .contact-title a {
        font-size: 17px;
    }
    
    .footer { 
        font-size: 14px;
    }
    
    .contact-intro  {
        padding-left: 10px;
        padding-right: 10px;
        padding-right: 10px;
    }
    
    .contact-intro p {
        font-size: 15px;
    }
}


@media only screen and (max-width: 500px) {
    .intro p {
        font-size: 20px;
        padding-bottom: 100px;

    }
    .contact-form {
        max-width: 380px;
    }
    
    .contact-title a {
        font-size: 17px;
    }

    .stagger-right-col p {
        font-size: 20px;
        left: 60px;
    }
    
    .stagger-left-col p {
        font-size: 20px;
        left: 60px;
    }  
    
    .banner p {
        padding-top: 0px
        padding-bottom: 0px;
    }

}