* {
    box-sizing: border-box;  
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
}



@font-face {
    font-family: "Signerica Medium";
    src: url(/assets/fonts/Signerica_Medium.ttf);
}

@font-face {
    font-family: "Futura";
    src: url(/assets/fonts/Futura.ttc);
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.hamburger {
    display: none;
}

.logo a {
    text-decoration: none;
    color: black;
}

.intro p {
    font-family: "Helvetica Neue";
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    padding: 150px;
}

@media only screen and (max-width: 900px) {
    .navigation ul {
        display: none;
    }
    
    .hamburger {
        top: 5;
        right: 0;
        display: block;
        position: fixed;
        color: black;
        font-size: 30px;
        padding-top: 18px;
        padding-right: 20px;
    }
    
    .hamburger:hover {
        color: gainsboro;
    }
    
    .intro p {
        font-size: 20px;
    }
}


h1 {
    font-family: "Helvetica Bold";
    font-size: 33px;
    font-weight: 600;
    top: 0;
    position: fixed;
}



.contact {
    text-align: center;
    
}
.contact a {
    font-family: "Helvetica Neue Bold Italic";
    font-size: 20px;
    text-align: center;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: line-through;
}

/* NAVIGATION BAR */
.navigation ul {
    list-style: none;
    margin: 0;
    top: 5;
    right: 0;
    position: fixed;
    padding-top: 7px;
    padding-right: 10px;
}

.navigation li {
    display: inline;
}

.navigation a {
    font-family: "Helvetica Bold";
    color: gainsboro;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    padding: 13px;
}

.navigation a:hover {
    color: black;
}


/* HAMBURGER NAVIGATION */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay a {
    color: gainsboro;
    text-decoration: none;
}

.overlay a:hover, .overlay a:focus {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    font-family: "Helvetica Bold Oblique";
    color: gainsboro;
    font-size: 30px;
    font-weight: 500;
}




@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
  }
}

.instalogo {
    background-color: white;
    padding-top: 30px;
}

.instalogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.instafeed {
    padding: 80px;
    background-color: white;
}


.footer {
    font-family: "Helvetica Neue";
    font-size: 13px;
    font-weight: 300;
    color: black;
    text-align: center;
    padding: 30px;
}